<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/signup.css">
    <script defer src="/script/signup.js"></script>
    <title>Signup w/ Sessions</title>
</head>
<body>
    <main>
        <h1>SignUp!</h1>
        <form id="signup-form">
            <div id="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="first-name" name="first-name">
            </div>
            <div id="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="last-name" name="last-name">
            </div>
            <div id="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <div id="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit" id="signup-btn">Signup Now!</button>
        </form>
    </main>
</body>
</html>